.card-horizontal {
	width: min(100%, 50rem);
	box-sizing: border-box;
	grid-template-columns: minmax(90px, 2fr) 6fr;
	background-color: white;
}

.card-horizontal:hover {
	cursor: pointer;
}

.card-cart-product {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.divider-black {
	width: 100%;
}

.price-attribute {
	display: flex;
	align-items: baseline;
}

.price-attribute > p {
	margin-bottom: 0.4rem;
	margin-top: 0.4rem;
}

.price-attribute > :first-child {
	flex-grow: 1;
}

.fs-0-6 {
	font-size: 0.6rem;
}

.btn-place-order {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.cart-objectfit-cover {
	height: 100%;
	object-fit: cover;
}

.cartproduct {
	display: grid;
	align-items: start;
	gap: 3rem;
}

.cartsummary-header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.cartsummary-header > p:hover {
	cursor: pointer;
}

.flex-end {
	display: flex;
	align-items: center;
	gap: 4px;
}

.cart-empty {
	height: calc(100vh - 4rem);
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	flex-direction: column;
}

.product-objectfit-contain {
	aspect-ratio: 1;
	object-fit: contain;
}

@media only screen and (min-width: 650px) {
	.cartproduct {
		grid-template-columns: 3fr 2fr;
	}
}

@media only screen and (min-width: 1500px) {
	.cartproduct {
		max-width: 1400px;
	}
}
