.profile-card {
	width: 25rem;
	border-radius: 4px;
	border: 1px solid var(--primary);
}

.user-page-wrapper {
	height: calc(100vh - 4rem);
}

.profile {
	background-color: rgba(173, 143, 125, 0.5);
}

.profile-buttons {
	display: flex;
	justify-content: stretch;
}

.profile-buttons > button {
	flex-grow: 1;
}

.profile-section > span:hover {
	cursor: pointer;
}

.address {
	display: flex;
	justify-content: flex-start;
}

.address > div:first-child {
	flex-grow: 1;
}

.address-icons > button {
	gap: 0.5rem;
	border-radius: 50%;
	width: auto;
	aspect-ratio: 1;
	padding: 0.5rem;
	background-color: transparent;
}

.address-icons > button:hover {
	background-color: var(--white);
}

.logout-buttons-section {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.profile-name {
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.address-form {
	width: max(400px, 30%);
	overflow: auto;
	max-height: 60vh;
}

.input-text.input-address {
	width: 100%;
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
}
