.btn-addtocart {
	color: var(--white);
	line-height: 1.5;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.9rem;
}

.btn-addtocart-icon {
	font-size: 1.1rem;
	display: none;
}

.products-listing {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	grid-gap: 1rem;
	grid-auto-flow: row;
}

.wishlist-listing {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.products-filters {
	transform: translateX(0%);
	width: 15rem;
	position: fixed;
	bottom: 0;
	top: 0;
	right: 0;
	margin-top: 4rem;
	overflow: auto;
	border-left: 1px solid var(--primary);
	transition: transform 1s;
	background-color: var(--white);
	z-index: 3;
}

.products-filters-open {
	transform: translateX(100%);
	transition: transform 1s;
}

.container-body {
	margin-top: 4rem;
	position: relative;
}

.btn-clear {
	background-color: transparent;
	border: none;
	color: var(--primary);
	text-decoration: underline;
	align-self: start;
	padding: 0;
}

.products-filters-heading {
	display: flex;
	flex-direction: column;
}

.slider::-webkit-slider-thumb {
	background: var(--primary);
}

.slider::-moz-range-thumb {
	background: var(--primary);
}

.slider-range-price {
	display: flex;
	justify-content: space-between;
}

.category-filter,
.rating-filter,
.sortby-filter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0rem;
}

.filter-icon {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: transparent;
	border: none;
	z-index: 5;
}

.filter-icon > .material-icons {
	color: var(--primary);
	font-size: 2rem;
}

.card-product {
	background-color: white;
}

.product-objectfit-contain {
	aspect-ratio: 1;
	object-fit: contain;
}

.card-product-description {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.products-filters::-webkit-scrollbar {
	width: 3px;
	background-color: var(--white);
	display: none;
}

.activeButton .material-icons {
	color: var(--danger);
}

.wishlist-empty {
	height: calc(100vh - 4rem);
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	flex-direction: column;
}

.slider-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loader-wrapper {
	height: calc(100vh - 4rem);
}

@media only screen and (min-width: 1000px) {
	.btn-addtocart-icon {
		display: inline;
	}
	.products-listing {
		margin-right: 15rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.filter-icon {
		display: none;
	}
	.products-filters-heading {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	.products-filters-open {
		transform: translateX(0%);
	}
	.btn-clear {
		align-self: center;
		padding: 1;
	}
}
