.modal-wrapper {
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.295);
	z-index: 2;
	top: 4rem;
	right: 0;
	bottom: 0;
	left: 0;
}

@media only screen and (min-width: 1500px) {
	.modal {
		max-width: 25rem;
	}
	.modal-body {
		padding-bottom: 0.5rem;
	}
}
