:root {
	--primary: #432818;
	--secondary: #f7efcf;
	--accent: #85583a;
	--white: #f9fafb;
}

html {
	font-size: 75%; /* font size is 12px */
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	color: var(--black);
	max-width: 100vw;
}

.scrollBehaviour {
	overflow-y: hidden;
}

.btn.bg-primary:hover {
	background-color: var(--primary);
	box-shadow: rgba(149, 157, 165, 0.555) 0px 8px 24px;
}

.btn.bg-secondary:hover {
	background-color: var(--secondary);
	box-shadow: rgba(149, 157, 165, 0.555) 0px 8px 24px;
}

.btn.btn.bg-primary {
	border: 2px solid var(--primary);
}

.card-product {
	width: 13rem;
}

.card-product-wrapper {
	display: flex;
	justify-content: center;
}

.btn-disabled:hover {
	cursor: not-allowed;
}

.container-body {
	padding-bottom: 4rem;
	box-sizing: border-box;
}

.img-pagenotfound {
	width: max(300px, 35%);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: var(--white);
}

::-webkit-scrollbar {
	width: 12px;
	background-color: var(--white);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--primary);
}

@media only screen and (min-width: 650px) {
	.wishlist-listing,
	.page-heading,
	.cartproduct,
	.ordersummary,
	.address-radiobox,
	.payment-radiobox {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
