:root {
	--primary: #432818;
	--secondary: #f7efcf;
	--accent: #85583a;
	--white: #f9fafb;
}

html {
	font-size: 75%; /* font size is 12px */
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	color: var(--black);
	margin-bottom: 4rem;
}
